body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #3b041e;
    border-radius: 5px;
}

h1 {
    color: #f02fd0;
}

button {
    margin-top: 10px;
}

.feedback {
    border: 1px solid #003602;
    background-color: #174b8f;
    padding: 10px;
    margin-top: 20px;
}